<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= form_tag(best_prices_path, method: 'post', class: 'form-horizontal center') do %>
        <p>
          Select cat type:<br/>
          <%= select_tag('breed', options_for_select(@breeds)) %>
        </p>
        <p>
          Select your location:<br/>
          <%= select_tag('location', options_for_select(@locations)) %>
        </p>
        <div><%= submit_tag 'Send request', class: 'btn btn-default' %></div>
    <% end %>
  </div>
</div>
<br>
