<%= render partial: 'search/new/errors', locals: { search_form: @search_form }%>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= render partial: 'search/new/form', locals: { search_form: @search_form } %>
  </div>
</div>
