.row
  .col-md-2.col-md-offset-5
    = form_tag(request_path, method: :post) do
      .form-group
        Select cat type:
        = select_tag(:breed, options_for_select(@breeds), class: 'form-control')

      .form-group
        Select your location:
        = select_tag(:location, options_for_select(@locations), class: 'form-control')

      .form-group
        = submit_tag 'Send request', class: 'btn btn-default btn-block'
