<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= form_tag(request_path, method: 'post', class: 'form-horizontal center') do %>
        <p>
          Select cat type:<br/>
          <%= select_tag('cats_type', options_for_select(%w(Bengal Abyssin Persian))) %>
        </p>
        <p>
          Select your location:<br/>
          <%= select_tag('user_location', options_for_select(%w(Lviv Kiev Odessa))) %>
        </p>
        <div><%= submit_tag 'Send request', class: 'btn btn-default' %></div>
    <% end %>
  </div>
</div>
<br>
