
<% if @cats.present? %>

<table class=" table table-striped">
  <thead>
  <tr>
    <th>Breed</th>
    <th>Price</th>
    <th>Location</th>
    <th>Image</th>
  </tr>
  </thead>

  <tbody>
  <% @cats.each do |cat| %>
      <tr>
        <td><%= cat['breed'] %></td>
        <td><%= cat['price'] %></td>
        <td><%= cat['location'] %></td>
        <td><%= image_tag(cat.fetch('image_src', 'no_cat_icon.png'), width: '30px', alt:'no icon') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% elsif @searched && @cats.empty? %>
  <div class="alert alert-info" role="alert">
    Sorry, no cats for your location
  </div>
<% end %>