.container
  = render partial: 'filter_form'
  .row
    - if @cats.empty?
      %center
        Sorry, no cats for your location
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Type
            %th Price
            %th Location
            %th Image
        %tbody
          = render partial: 'cat', collection: @cats
