<div class="container d-block">
  <div class="text-center text-muted small">
    <span><%= t('.contact_us') %></span> | <span><%= t('.support') %></span> | <span><%= t('.whatever') %></span>
  </div>
</div>
