!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title Cats
    = csrf_meta_tags
    = stylesheet_link_tag    'application', 'data-turbolinks-track': :reload, media: :all
    = javascript_include_tag 'application', 'data-turbolinks-track': :reload
  %body
    .container
      %h1.text-center CatsDealer

    .container
      = yield
