<!DOCTYPE html>
<html>
  <head>
    <title>Cats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='navbar navbar-default navbar-static-top'>
      <div class='container'><a class='navbar-brand' href="#">Cats</a></div>
    </div>

    <div class='container'>
      <div class='row'><%= yield %></div>

      <footer>
        <p><a href='https://github.com/madundead' target='_blank'>madundead @ github</a></p>
      </footer>
    </div>
  </body>
</html>
